-jfx-decorator {
    -fx-decorator-color: RED;   
}
-jfx-decorator .resize-border{
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
  //  -fx-border-radius: 2000;
}
-jfx-decorator .jfx-decorator-buttons-container{
    -fx-background-color : -fx-decorator-color;
}